@using UserInterface.Models
@model BuildingDto
@{	
	ViewData["Title"] = "Add Building";
}


<html lang="en">
<head>
	@await Html.PartialAsync("~/Views/Shared/_HeaderIndex.cshtml")
</head>
<body>
	<div class="container">
		<form asp-action="AddBuilding" method="post" asp-validation-summary="ModelOnly" class="tex login-form">
			<h2>Add Building</h2>
			<div class="column ">
				<div class="row">
					<div class="form-group col-md-5">
						<label class="control-label">Building Name</label>
						<div>
							@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
						</div>
					</div>
					<div class="form-group col-md-5">
						<label class="control-label">Number Of Floors</label>
						<div>
							@Html.TextBoxFor(m => m.NumofFloor, new { @class = "form-control" })
						</div>
					</div>
				</div>	
				<div class="row"> 
					<div class="form-group col-md-5">
						<label class="control-label">City</label>
						<div>
							<!-- City dropdown listesi -->
							@Html.DropDownListFor(m => m.CityId, Model.CityList, "Select City", new { @class = "form-control", @id = "CityId", @onchange = "getTowns()" })
						</div>
					</div>
					<div class="form-group col-md-5">
						<label class="control-label">Town</label>
						<div>
							<!-- Town dropdown listesi -->
							@Html.DropDownListFor(m => m.TownId, Model.TownList, "Select Town", new { @class = "form-control", @id = "TownId" })
						</div>
					</div>
				</div>				
				<div class="row">
					<div class="form-group col-md-6">
						<label class="control-label">Address</label>
						<div>
							@Html.TextBoxFor(m => m.Address, new { @class = "form-control", @style = "weight:15px;height:70px; " })
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-10 text-right ">
						<button id="login-submit" type="submit" class="btn btn-primary btn-lg rounded submit">Create</button>
					</div>
				</div>				
			</div>
		</form>
	</div>	


	<script src="~/login-form-18/js/jquery.min.js"></script>
	<script src="~/login-form-18/js/popper.js"></script>
	<script src="~/login-form-18/js/bootstrap.min.js"></script>
	<script src="~/login-form-18/js/main.js"></script>

	<script>
		// Şehir dropdown listesi değiştiğinde çağrılacak olan fonksiyon
		function getTowns() {
			// Seçilen şehrin ID'sini al
			var cityId = $("#CityId").val();

			if (!cityId) {
				// Şehir seçimi yapılmadıysa ilçe listesini temizle
				$("#TownId").empty();
				$("#TownId").append($('<option>').text("Select Town").attr('value', ""));
				return;
			}

			// AJAX çağrısı ile ilçeleri yükle
			$.ajax({
				url: '/Building/GetTowns', // AJAX çağrısının yapılacağı URL
				type: 'GET', // HTTP istek metodu
				data: { cityId: cityId }, // Gönderilen data
				success: function (data) {
					// Başarılı olursa ilçe dropdown'ını güncelle
					$("#TownId").empty(); // Mevcut girdileri temizle
					$("#TownId").append($('<option>').text("Select Town").attr('value', ""));
					data.forEach(function (item) {
						$("#TownId").append($('<option>').text(item.text).attr('value', item.value));
					});
				},
				error: function () {
					// Hata durumunda kullanıcıya bilgi ver
					$("#TownId").empty();
					$("#TownId").append($('<option>').text("Failed to load towns").attr('value', ""));
				}
			});
		}
	</script>

</body>
</html>


